* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: gray;
}

.breadcrumb a:last-child {
    color: #003366;
}

.category-section {
    text-align: center;
}

.category-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #003366; 
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.categories button {
    padding: 10px 20px;
    border: 2px solid #003366;
    background-color: white;
    color: #003366; 
    border-radius: 10px;
    cursor: pointer;
    /* transition: back 0.3s, color 0.3s; */
}


body {
    font-family: Arial, sans-serif;
}
.filter-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 20px;
}
.filter-item select {
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
    min-width: 120px;
    background-color: white;
    color: black;
    height: 50px;
    font-size: 12px;
}
.sort-by {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.sort-by{
    height: 20px;
    border-left: 1px solid black;
}
   