*{
    margin: 0;
    padding: 0;
}
.section1{
    /* height: 170px; */
    width: 1400px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    /* margin: auto; */
}
.airbnb{
    margin-left: 80px;
}
.sec1_txt{
    display: flex;
   gap: 50px;
}
.sec1_2{
    display: flex;
    gap: 10px;
    margin-right: 50px;
    align-items: center;
}
.section1_2{
    width: 850px;
    height: 70px;
    /* background-color: aqua; */
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    --explore-nav_box-shadow-spread: 4px;
    /* box-shadow: 5px; */
}
.navsec{
    height: 72px;
    width: 1470px;
    display: flex;
    justify-content: space-between;
}
.navtxt{
    color: grey;
    font-size: 14px;
}
.icon{
    height: 48px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
}
.para{
    padding-left: 75px;
}
.main{
    width: 90vw;
    column-gap: 5px;
    row-gap: 15px; 
    margin: auto;
}
.box {
    width: 300px;
    height: 350px;
}

.box img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


@media only screen and (max-width:550px){
    .main{
        display: grid;
        margin: auto;
    }
}
@media only screen and (min-width:550px) and (max-width:950px){
    .main{
        display: grid;
        grid-template-columns:1fr 1fr ;
    }

}
@media only screen and (min-width:950px) and (max-width:1128px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width:1128px) and (max-width:1640px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
}
@media only screen and (min-width:1640px) and (max-width:1880px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}
@media only screen and (min-width:1880px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}














