*{
    margin: 0px;
    padding: 0px;
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
nav{
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: center;

}


span{
    padding: 30px;
    

}
nav img{
    height: 20px;
    width: 20px;
    border-right: 30px;
    margin-left: 30px;
}
nav a{
    text-decoration: none;
    color: black;
}


section{
    position: absolute;
    width: 100%;
}
.storel1{
    font-size: 25px;
    font-weight: 600;
}
.storel{
    color: rgb(186, 178, 236);
}
.storel1-1{
    padding-top: 10px;
    font-weight: 100;
}
.secstore{
    display: flex;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    padding-left: 260px;
}
.sstore:hover ~ .secstore1{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.smac:hover ~ .secstore2{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.sipad:hover ~ .secstore3{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.siphone:hover ~ .secstore4{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.swatch:hover ~ .secstore5{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.svision:hover ~ .secstore6{
    visibility: visible;
    opacity: 1;
    height: 350px;
}
.sair:hover ~ .secstore7{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.stv:hover ~ .secstore8{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.sen:hover ~ .secstore9{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.sacc:hover ~ .secstore10{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.ssu:hover ~ .secstore11{
    visibility: visible;
    opacity: 1;
    height:430px;
}
.container{
    
    width: 100%;
    height: 600px;
    background-image: url("./image/pexels-gabriel-freytez-110599-341523.jpg");
    background-size: cover;

}


.container-text1{
    text-align: center;
    padding-top: 100px;
    font-size:70px;
    
}
.container-text2{
    text-align: center;
    padding-top:10px;
    font-size:25px;
    font-weight: bold;
}
.container-button1{
    height: 35px;
    width: 103px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.button1{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 30px;
    height: 43px;
    width: 130px;
}
.button2{
    padding:10px ;
    border-radius: 30px;
    height: 43px;
    width: 130px;

}
.button2:hover{
    background-color: blue;
    color: white;
}
.container-button2{
    height: 35px;
    width:103px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.container-button{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
}
.container-2{
    margin: auto;
    width: 500px;
    height: 400px;
    padding-top: 10px;
    background-color: #f5f5f7;
}
.btn-shop{
    height: 45px;
    width: 130px;
    padding: 10px;
    border-radius: 30px;
    color: #0071e3;
    background-color: white;
    font-size: 17px;
    margin: 40px;
    margin-left: 200px;
    border: none;
    border: 1px solid #0071e3;
}
.btn-shop:hover{
    background-color: #0071e3;
    color: white;
}

.container-3{
    width: 100%;
    height: 640px;
    /* margin-top: 10px; */
    background-color:#f5f5f7;
    margin: auto;
    /* padding-top: 10px; */
 }
 .mac{
    text-align: center;
    /* padding-top: 100px; */
    font-size:70px;
 }
 .mac2{
    text-align: center;
    padding-top:10px;
    font-size:25px;
    font-weight: bold;
 }
 .mac-btn{
    height: 50px;
    width: 192px;
    margin: auto;
    display: flex;
    gap: 5px;
   
 }
 .mac-btn1{
    height: 35px;
    width: 103px;
    color: white;
    background-color: #0071e3;
    border-radius: 30px;
   
}
.mac-btn2{
height: 35px;
width: 80px;
border-radius: 30px;
border: 1px solid blue;
}
.mac-btn2:hover{
    background-color: #0071e3;
}

.container-4{
    display: flex;
    height: 600px;
    width: 90vw;
    margin: auto;
    justify-content: space-between;

}
.imgclr-2{
    background-color: black;
    height: 199px;
    width: 660px;
    color: white;
    text-align: center;
}
.c4-btn{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    }
    .c4-bt1{
    height: 35px;
    width: 80px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.c4bt1{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 30px;
    height: 43px;
    width: 130px;
}
.c4bt2{
    padding:10px ;
    border-radius: 30px;
    height: 43px;
    width: 130px;
}
.c4bt2:hover{
    background-color:blue;
    color: white;
}
.c4-bt2{
    height: 35px;
    width:103px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.c5-bt1{
    height: 35px;
    width: 200px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.c5bt1{
background-color: blue;
color: white;
padding: 10px;
border-radius: 30px;
height: 43px;
width: 130px;
}
.c5bt2{
    padding:10px ;
    border-radius: 30px;
    height: 43px;
    width: 130px;
}
.c5bt2:hover{
    background-color:blue;
    color: white;
}
.c5-bt2{
    height: 35px;
    width:103px;
    color: white;
    margin: auto;
    padding-top: 10px;
}
.container-5{
    display: flex;
    height: 600px;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
}
.imgclr-5{
    /* background-color:black; */
    height: 300px;
    width: 700px;
    color: white;
    text-align: center;
}
.c5-bt1-1,.c5-bt2-1{
    
    padding-top: 10px;
}
.c5bt5-1{
background-color: blue;
color: white;
padding: 10px;
border-radius: 30px;
height: 43px;
width: 130px;
} 
.c4bt5-2{
    padding:10px ;
    border-radius: 30px;
    height: 43px;
    width: 130px;
}
.c4bt5-2:hover{
    background-color:blue;
    color: white;
}

.paragraph{
    width: 948px;
    height: 752px;
    margin: auto;
    /* background-color: #0071e3; */
    font-size: 12px;
    color: #0000008f;
    font-display: 20px;
    letter-spacing: inherit;
}
.imgclr-2-5{
 background-color:black; 
width: 700px;
color: white;
    text-align: center;

}

footer{
    font-size: 12px;
    color: #000000B8;
}
.footer1-1{
    display:inline-flex;
    padding: 10px;
    gap: 5px;
    
}
ul{
    list-style: none;
    text-align: left;
}
.mainlist{
    padding-bottom: 14px;
}
li{
    padding-bottom: 10px;
    padding-right: 80px;
}
footer a{
    color: #0071E3;
    text-decoration: underline;
}
.foosec2{
    text-align: left;
}
.footpar{
    display: flex;
}
.footset1{
    width: 1000px;
    height: 540px;
    margin: auto;
}