*{
    margin: 0;
    padding: 0;
}

.nav1 img{
    width: 100%;
}
.nav1 .img{
    width:16px;
    height: 20px;
}
.nav1{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 5px 0px 10px;

}
.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
select{
    background-color: black;
    color: white;
    border: none;
    margin-right: 40px;
    padding: 3px;
    font-size: 9px;
}
.adress-section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-left: 1px solid white;
    line-height: 13px;
    padding: 5px 5px 5px 10px;
}
.adress-section span{
    font-size: 8px;
}
.adress-section a{
    color: white;
    font-size: 10px;

}
.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    padding: 5px;
}
.right-sub-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}
.right-sub-section .img{
    margin-right: 5px;
}

.nav2{
    background-color:rgb(246, 243, 243);
    color: black;
    align-items: center;
    height: 60px;
    /* padding: 0px 5px 0px 10px; */

}

.nav2 .logo {
    width: 148px;
    height: 58px;
    padding-left: 20px;
    /* position: absolute; */
    /* margin: auto; */
}
.nav2-sections{
    padding: 23px 0px 10px 35px;
}
.nav2-sections span{
    font-size: 16px;
    padding-left: 5px;
    /* justify-content: space-between; */
}
.nav2-left-section{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.nav2-sections a{
    text-decoration: none;
}
.search{
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
}
.search input{
    border: none;
    border-bottom: 2px solid black;

}
.icon{
    width: 200px;
    height: 45px;
    background-color: yellow;
    border-radius: 30px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.icon-text{
    padding-top: 7px;
}

.adityabirla{
    width: 70px;
    height: 50px;
}
.section2{
    display: flex;
}
.sec-sale{
    /* background-color: aqua; */
    height: 250px;
    width: 250px;
    text-align: center;
}
.sec-men{
    height: 250px;
    width: 250px;
    text-align: center;
}
.sec-women{
    height: 250px;
    width: 250px;
    text-align: center;
}
.sec-boy{
    height: 250px;
    width: 250px;
    text-align: center;
}
.sec-girl{
    height: 250px;
    width: 250px;
    text-align: center;
}
.sec-gift{
    height: 250px;
    width: 250px;
    text-align: center;
}
.section3{
    background-color:rgb(249,231,159);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

}
.app{
    display: flex;
}


.sec3-txt1{
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    color: #0e3051;
    /* margin-top: 23px; */
    /* margin-bottom: 3px; */
}
.sec3-txt2{
    display: flex;
    gap: 5px;

}
.asap{
    border: 2px dashed black;
    width: 105px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    background-color:gold;
}
.sec3-flex{
    display: flex;
    /* justify-content: space-evenly; */
}
.sec4-txt1{
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    color: #0e3051;
}
.sec4-txt{
    text-align: center;
}
.section5{
    display: flex;
    width: 90vw;
    margin: auto;
}
.sec5-2{
    height: 400px;
    width: 500px;
    background-color: white;
}
.sec5-2-1{
    width: 400px;
    height: 280px;
    background-color: #fefbea;
    margin-top: 70px;
}
.sec5-2-txt{
    text-align: center;
    font-size: 28px;
    color: black;
    height: 50px;
    width: 400px;
    margin: auto;
    padding-top: 20px;

}
.sec5-box1{
    display: flex;
    font-size: 16px;
    gap: 20px;
    padding-top: 20px;
}
.sec5-box2{
    display: flex;
    font-size: 16px;
    gap: 20px;
    padding-top: 20px;
}
.box{
    height: 45px;
    width: 165px;
    border-radius:10px ;
    background-color: white;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    text-align: center;
    margin-left: 10px;

}
.section6{
    height: 500px;
    width: 100%;
    background: url(./image/as-image-bg_2x.jpeg);
    /* background-color: aqua; */
}
.sec6-1{
    background-color: gold;
    height: 280px;
    width: 600px;
    /* display: flex; */
    margin-left: 730px;
    border-radius: 10px;
    /* padding-top: 300px; */
    column-gap: 20px;
}
.sec6-1-1{
    height: 60px;
    width: 250px;
    display: flex;
    margin-left: 72px;
}
.sec6-txt{
    height: 70px;
    width: 400px;
    /* display: flex; */
    padding-top: 50px;
    margin-left: 72px;

}
.sec6-txt1{
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.25;
    color: #0e3051;
}
.sec6-txt2{
    font-family: Cabin;
    font-weight: 400;
    font-size: 20px;
}