*{
    margin: 0px;
    padding: 0px;
}
.menu{
    width: 30px;
    height: 30px;
}
#iconsearch{
    width: 25px;
    height: 25px;
}
.forbes{
    width: 125px;
    height: 45px;
}
.news{
    background-color: rgb(2, 19, 91);
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
}